<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> App File txt</title>
        <link rel="stylesheet" href="css/mystyles.css">
    </head>
    <body>
        <nav class="navbar is-primary">
            <div id="Menu-Add" class="navbar is-primary">
                <div class="navbar-start">
                    <a class="navbar-item" href="add_filetxt" method="get">
                    Add
                    </a>
                </div>
            </div>

            <div id="Menu-Read" class="navbar is-primary">
                <div class="navbar-start">
                    <a class="navbar-item" href="read_filetxt" method="get">
                        Select
                    </a>
                
                </div>
            </div>


        </nav>

        
        <form class="box" action="/add_notes" method="get">
            <span> WELCOME :) </span>
            <span> PLEASE, SELECT AN OPTION :) </span>
        </form>

    </body>
</html>